

/* Estilo para o corpo da página */

body {

    font-family: Arial, sans-serif;

    background-color: #f2f2f2;

    margin: 0;

    padding: 20px;

   

}






/* Estilo para o cabeçalho */

h1 {

    text-align: center;

    color: #333;

}




/* Estilo para rótulos e campos de entrada */

label {

    display: block;

    margin-bottom: 5px;

    font-weight: bold;

    color: #666;

}




input[type="text"] {

    padding: 8px;

    width: 100%;

    box-sizing: border-box;

    border: 1px solid #ccc;

    border-radius: 4px;

    font-size: 16px;

}




/* Estilo para o botão de calcular */

button {

    padding: 10px 20px;

    background-color: #e5b5dc;

    color: #060404;

    border: none;

    border-radius: 4px;

    cursor: pointer;

    font-size: 16px;

    align-items: center;

    display: block;

    margin: 0 auto;

    font-weight: bold;

}




button:hover {

    background-color: #c1a5bd;

}




/* Estilo para o resultado */

#resultado {

    margin-top: 20px;

    font-size: 18px;

    font-weight: bold;

    color: #333;

}




    input[type="text"],

input[type="number"] {

  width: 1850px;

    padding: 10px;

  margin-bottom: 20px;

  box-sizing: border-box;

}




